body {
	height: 100%;
	margin: 0;
	background-color: black;
	color: white;
	font-family: "Courier New", Courier, monospace;
}

main {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.hidden {
	visibility: hidden;
}

#btn-container {
	display: flex;
	gap: 40px;
}

#btn-container div {
	border: 2px solid white;
	border-radius: 5px;
	padding: 30px;
	width: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.6rem;
	gap: 10px;
}

#btn-container div:hover {
	cursor: pointer;
	background-color: lightblue;
	text-shadow: 1px 1px black;
}

i {
	font-size: 2.2rem;
}

#round-result {
	margin-top: 20px;
	font-style: italic;
}

#game-results {
	display: flex;
	gap: 40px;
	font-size: 1.5rem;
}

#game-results span {
	color: red;
}

footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	font-size: 1.1rem;
}

footer a {
	color: orangered;
}

footer a:hover {
	color: blueviolet;
	font-weight: 900;
}
